#modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 116, 163, 0.705);

    #modal_wrap {
        position: absolute;
        background-color: white;
        border-radius: 8px;
        padding: 10px;
        overflow: hidden;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        #btn_close {
            position: relative;
            right: 0;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            color: white;
            font-weight: bold;
            margin-bottom: 8px;
            color: black;
            border: 2px solid #8574a3b4;

            svg {
                height: 30px;
                width: 30px;
            }
        }

        #img_product {
            border: 8px;
            border-radius: 8px;
            width: 320px;
            height: 330px;
            background-color: rgb(133, 116, 163);
            object-fit: cover;
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-image: url('../img/products/1.jpg');
            // background-image: url('http://instagram.fuba2-1.fna.fbcdn.net/v/t51.2885-15/279380863_134174375866323_3823866195779395457_n.jpg?stp=dst-jpg_e15_p480x480&_nc_ht=instagram.fuba2-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=wVzUr_nTd7YAX-u1B22&edm=ACWDqb8BAAAA&ccb=7-5&ig_cache_key=MjgyNzI5NzQyNDc0MjM1NDE3MzcwOTQxODYyMzU0Mjc4Mg%3D%3D.2-ccb7-5&oh=00_AT-7hLZm_FwZS-bCfAe5007pAAz6cbj38vx0NipUfmffVw&oe=6342B451&_nc_sid=1527a3');
        }

        #controlls {
            border-radius: 5px;
            margin-top: 5px;
            height: 40px;
            width: 250px;
            background-color: rgb(133, 116, 163);
            display: flex;
            align-items: center;
            justify-content: space-around;

            .controlls_btn {
                background-color: white;
                width: 100px;
                height: 30px;

                svg {
                    height: 100%;
                }
            }

            #ant {
                border-radius: 5px 0 0 5px;
            }

            #nxt {
                border-radius: 0 5px 5px 0;
            }
        }
    }
}